﻿@using PagedList.Mvc;
@model PagedList.IPagedList<ClientWebsite.BookService.Sach>
@{
    ViewBag.Title = "Home";
    List<SelectListItem> list_search = new List<SelectListItem>();
    list_search.Add(new SelectListItem
    {
        Text = "Tên Sách",
        Value = "0"
    });
    list_search.Add(new SelectListItem
    {
        Text = "Chủ Đề",
        Value = "1"
    });
   
    list_search.Add(new SelectListItem
    {
        Text = "Nhà Xuất Bản",
        Value = "3"
    });
}
    <link href="http://code.jquery.com/ui/1.10.4/themes/ui-lightness/jquery-ui.css" rel="stylesheet">
    <script src="http://code.jquery.com/jquery-1.10.2.js"></script>
    <script src="http://code.jquery.com/ui/1.10.4/jquery-ui.js"></script>
    <link href="~/Content/Tooltips/stickytooltip.css" rel="stylesheet" />
    <script src="~/Content/Tooltips/stickytooltip.js"></script>
<div class="jumbotron">
    <div class="row carousel-holder">

        <div class="row">
            <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
                <ol class="carousel-indicators">
                    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                    <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                    <li data-target="#carousel-example-generic" data-slide-to="2"></li>
                </ol>
                <div class="carousel-inner" >
                    <div class="item active" style="text-align:center">
                        <img class="slide-image" src="~/HinhAnh/Anh1.png" alt="">
                    </div>
                    <div class="item">
                        <img class="slide-image" src="~/HinhAnh/Anh2.png" alt="">
                    </div>
                    <div class="item">
                        <img class="slide-image" src="~/HinhAnh/Anh3.png" alt="">
                    </div>
                </div>
                <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
                    <span class="glyphicon glyphicon-chevron-left"></span>
                </a>
                <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
                    <span class="glyphicon glyphicon-chevron-right"></span>
                </a>
            </div>
        </div>

    </div>
    
</div>
<!-- Page Heading/Breadcrumbs -->
<div class="row navbar-right">
    <div class="col-md-12">
        <div class="row">
            <div class="input-group" id="adv-search">
                @using (Html.BeginForm("SearchResults", "Search", FormMethod.Post))
                {
                    <table>
                        <tr>
                            <td>
                                @Html.DropDownList("droplist", list_search, htmlAttributes: new { @class = "form-control" })
                            </td>
                            <td>
                                @Html.TextBox("txtTimKiem", "", htmlAttributes: new { @class = "form-control", @placeholder = "Nhập vào từ khóa cần tìm ..." })
                            </td>
                            <td>
                                <button type="submit" class="btn btn-primary"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></button>
                            </td>
                        </tr>
                    </table>
                }

            </div>
        </div>

    </div>
</div>

<div class="row">
    <div class="col-lg-3">
        <ol class="breadcrumb">
            <li class="active">Home</li>
            
        </ol>
        
    </div>
</div>
<div class="row">
    <div class="col-md-3">
        @Html.Action("ToPicPartial", "Topics")
        </div>
    <div class="col-md-9">
        @Html.Action("BookNewiPartial", "Books")
    </div>   
        <div class="col-md-3">
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        </div>
    <div class="col-md-9">
        <div style="font-size:16pt; font-style:italic"><i class="fa fa-home fa-fw"></i> Danh Mục Sách</div>
        <hr />
        <div class="row">
            @foreach (var item in Model)
            {
                <div class="col-md-4">
                    <a href="@Url.Action("BookDetail", "Books", new { @masach=item.MaSach })">
                        <img src="@Url.Content("~/HinhAnhSP/"+item.AnhBia)" width="150" height="150" data-tooltip="@item.MaSach" />
                    </a>
                    <br />
                    @*Dịch dấu chấm động đơn giá sử dụng string.Format("{0:0,0}", tham số)*@
                    <div id="DonGia" style="color:orange; font-size:22px"><font color="Green">Giá:</font> @String.Format("{0:0,0}", item.GiaBan) VNĐ</div>
                    <br />
                    @using (Html.BeginForm("ThemGioHang", "Cart", new { @iMaSach = item.MaSach, @strURL = Request.Url.ToString() }))
                    {
                        <input type="submit" style="cursor:pointer;margin-left:10%" value="Cho vào giỏ" class="btn btn-primary btn-danger" />
                        <br />
                        <br />
                    }
                </div>
            }

        </div>
        <div style="clear:both"></div>
        @* Tạo link liên kết các trang*@
        <br /><br />
        Trang @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber)/ @Model.PageCount
        <div class="MenuTrang">
            <span>@Html.PagedListPager(Model, page => Url.Action("Index", new { page = page }))</span>
            <br /><br /><br /><br /><br /><br />
        </div>
    </div>
</div>
<script>
$(function() {
    $( "input[type=submit]" )
      .button()
  });
</script>