﻿@using ClientWebsite.BookService
@using PagedList.Mvc;
@model PagedList.IPagedList<Sach>
@{
    ViewBag.Title = "Books Topic";
    Layout = "~/Views/Shared/_Layout.cshtml";
    int macd=0;
}
<link href="http://code.jquery.com/ui/1.10.4/themes/ui-lightness/jquery-ui.css" rel="stylesheet">
<script src="http://code.jquery.com/jquery-1.10.2.js"></script>
<script src="http://code.jquery.com/ui/1.10.4/jquery-ui.js"></script>
<link href="~/Content/Tooltips/stickytooltip.css" rel="stylesheet" />
<script src="~/Content/Tooltips/stickytooltip.js"></script>

@*Gợi ý: có thể copy từ trang index (copy cả link css) thay đối tượng Model bằng lstSach(được gán từ ViewBag.SachTheoChuDe bên trang controller gửi qua)*@
<div class="row">
    <div class="col-md-3">
        @Html.Action("ToPicPartial", "Topics")
    </div>
    <div class="col-md-9">
        <ol class="breadcrumb">
            <li class="active">Books by Topics</li>
        </ol>
    </div>
    <div class="col-md-9" >

        @foreach (var item in Model)
            {
             macd = Int32.Parse(item.MaChuDe.ToString());
            <div class="col-md-4">
                <a href="@Url.Action("BookDetail", "Books", new { @masach=item.MaSach })">
                    <img src="@Url.Content("~/HinhAnhSP/"+item.AnhBia)" width="150" height="150" data-tooltip="@item.MaSach" />
                </a>
                <br />
                @*Dịch dấu chấm động đơn giá sử dụng string.Format("{0:0,0}", tham số)*@
                <div id="DonGia" style="color:orange; font-size:22px"><font color="Green">Giá:</font> @String.Format("{0:0,0}", item.GiaBan) VNĐ</div>
                <br />
                @using (Html.BeginForm("ThemGioHang", "Cart", new { @iMaSach = item.MaSach, @strURL = Request.Url.ToString() }))
                {
                    <input type="submit" style="cursor:pointer;margin-left:10%" value="Cho vào giỏ" class="btn btn-primary btn-danger" />
                    <br />
                        <br />
                }
            </div>
        }
        <div style="clear:both"></div>
        @* Tạo link liên kết các trang*@
        <br /><br />
        Trang @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber)/ @Model.PageCount
        <div class="MenuTrang">
            <span>@Html.PagedListPager(Model, page => Url.Action("BooksTopic","Topics", new { page = page, MaChuDe= macd }))</span>
            <br /><br /><br /><br /><br /><br />
        </div>
    </div>
    
</div>
<script>
$(function() {
    $( "input[type=submit]" )
      .button()
  });
</script>
