﻿
@model List<ClientWebsite.BookService.ChuDe>
<div style="font-size:16pt; font-style:italic">Danh Mục Chủ Đề</div>
<hr />
@foreach (var item in Model)
{
    <a id="btnChuDe" style="width:250px; font-size: 11pt; text-decoration: none" href="@Url.Action("BooksTopic", new {@MaChuDe=item.MaChuDe })" class="button button-submit"> @item.TenChuDe</a><br />
}
<a id="btnChuDe" style="width:250px; font-size: 12pt; color: aliceblue" @*href="@Url.Action("DanhMucChuDe")"*@ class="button button-submit"> Chủ đề khác...</a>
<br />
<div style="clear:both"></div>








