﻿
@model List<ClientWebsite.BookService.NhaXuatBan>
<div style="font-size:16pt; font-style:italic">Danh Mục Nhà Xuất Bản</div>
<hr />
@foreach (var item in Model)
{
    <a id="btnChuDe" style="width:250px; font-size: 11pt; text-decoration: none" href="@Url.Action("BooksbyPublisher", new {@MaNXB=item.MaNXB })" class="button button-submit"> @item.TenNXB</a><br />
}
<br />
<div style="clear:both"></div>
