﻿@using ClientWebsite.BookService;
@using PagedList.Mvc;
@model PagedList.IPagedList<Sach>
@{
    ViewBag.Title = "BooksbyPublisher";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
    <div class="row">
        <div class="col-md-3">
            @Html.Action("_Publishertial", "Publisher")
        </div>
        <div class="col-lg-9">
            <ol class="breadcrumb">
                <li class="active">Home</li>

            </ol>

        </div>
        @foreach (var item in Model)
            {
            <div class="col-md-3">
                <a href="@Url.Action("BookDetail", "Books", new { @masach=item.MaSach })">
                    <img src="@Url.Content("~/HinhAnhSP/"+item.AnhBia)" width="150" height="150" data-tooltip="@item.MaSach" />
                </a>
                <br />
                @*Dịch dấu chấm động đơn giá sử dụng string.Format("{0:0,0}", tham số)*@
                <div id="DonGia" style="color:orange; font-size:22px"><font color="Green">Giá:</font> @String.Format("{0:0,0}", item.GiaBan) VNĐ</div>
                <br />
                @using (Html.BeginForm("ThemGioHang", "Cart", new { @iMaSach = item.MaSach, @strURL = Request.Url.ToString() }))
                {
                    <input type="submit" style="cursor:pointer;margin-left:10%" value="Cho vào giỏ" class="btn btn-primary btn-danger" />
                        <br />
                        <br />
                }
            </div>
        }
        <div class="col-md-3">
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        </div>
        <div class="col-md-9">
            @* Tạo link liên kết các trang*@
            <br /><br />
            Trang @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber)/ @Model.PageCount
            <div class="MenuTrang">
                <span>@Html.PagedListPager(Model, page => Url.Action("BooksbyPublisher", new { page = page, MaNXB = ViewBag.MANXB }))</span>
                <br /><br /><br /><br /><br /><br />
            </div>
        </div>

    </div>
  



