﻿@model List<ClientWebsite.BookService.Sach>
<div id="mystickytooltip" class="stickytooltip" style="width:250px">
    @foreach (var item in Model)
    {

        <div id="@item.MaSach" class="atip">
            <div class="tooltiphost">
                <div style="font-weight:bolder"> @item.TenSach</div>
               
                 @item.MoTa
            </div>
        </div>

    }
</div>
