﻿@using WebSiteBanSach.Models
@using WebSiteBanSach.Controllers
@model List<GioHang>
@{
    ViewBag.Title = "GioHang";
    Layout = "~/Views/Shared/_Layout.cshtml";
    Session["URL"] = Request.Url.AbsoluteUri;
}

<div id="divToanGioHang" style="margin-left:70px">
    <br />
    <h2 style="text-align:center">Giỏ hàng của bạn</h2>
    @{
        if (Session["TB"] != null)
        {
            <h3>@Session["TB"].ToString()</h3>
        }
    }
    <table id="divGioHang" width="900">
        <tr>
            <td>Mã sách</td>
            <td>Tên sách</td>
            <td>Ảnh bìa</td>
            <td>Đơn giá</td>
            <td>Số lượng</td>
            <td>Thành tiền</td>
        </tr>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.iMaSach</td>
                <td>@item.sTenSach</td>
                <td><a href="@Url.Action("XemChiTiet", "Sach", new { @MaSach = item.iMaSach})"><img src="@Url.Content("~/HinhAnhSP/"+item.sAnhBia)" width="50" height="50" /></a></td>
                <td>@String.Format("{0:0,0}", item.dDonGia) VNĐ</td>
                <td>@item.iSoLuong</td>
                <td>@String.Format("{0:0,0}", item.ThanhTien) VNĐ</td>
            </tr>
        }
        <tr>
            <td colspan="6" style="text-align:right;color:blue">
                @Html.ActionLink("Sửa giỏ hàng", "SuaGioHang")
            </td>
        </tr>
        <tr>
            <td colspan="5" style="text-align:right;color:blue">
                @using (Html.BeginForm("DatHang", "Cart"))
                {
                    <input type="submit" value="Đặt hàng" style="width:100px" id="btnSubmit" />
                }
            </td>
            <td>
                @using (Html.BeginForm("Index", "Home"))
                {
                    <input type="submit" value="Tiếp tục mua" style="width:120px" id="btnSubmit" />
                }
            </td>
        </tr>
    </table>
</div>
@*Css giỏ hàng*@
<style>
    #divToanGioHang {
        background-color: white;
        margin-top: -1%;
    }

    #divGioHang {
        border: 1px solid #EEEEEE;
    }

        #divGioHang td {
            padding: 10px;
            border: 1px solid #EEEEEE;
        }
</style>
