﻿@using WebSiteBanSach.Models
@model List<GioHang>
@{
    ViewBag.Title = "SuaGioHang";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    #divBody {
        display: none;
    }

    #divSachmoi {
        display: none;
    }

    #divChuDeVaNXB {
        display: none;
    }

    #divSoLuong input {
        margin-left: 2px;
        width: 70px;
        text-align: center;
    }
</style>
<div id="divToanGioHang">
    <br />
    <h2 style="text-align:center">Giỏ hàng của bạn</h2>
    <table id="divGioHang" width="100%">
        <tr>
            <td>Mã sách</td>

            <td>Tên sách</td>

            <td>Ảnh bìa</td>

            <td>Đơn giá</td>


            <td>Số lượng</td>

            <td>Thành tiền</td>
        </tr>


        @foreach (var item in Model)
        {

            <tr>
                <td>@item.iMaSach</td>

                <td>@item.sTenSach</td>

                <td><img src="@Url.Content("~/HinhAnhSP/"+item.sAnhBia)" width="50" height="50" /></td>

                <td>
                    @String.Format("{0:0,0}", item.dDonGia) VNĐ
                </td>
                @*Chỉnh sửa giỏ hàng gọi về action CapNhatGioHang*@
                @using (Html.BeginForm("CapNhatGioHang", "Cart", new { @iMaSP = item.iMaSach }))
                {
                    <td>
                        <div id="divSoLuong">@Html.TextBox("txtSoLuong", item.iSoLuong)</div>
                    </td>
                    <td>@String.Format("{0:0,0}", item.ThanhTien) VNĐ</td>
                    <td><input type="submit" value="Cập nhật" /></td>
                    <td>

                        @*Xóa giỏ hàng gọi về Action XoaGioHang*@
                        @Html.ActionLink("Xóa", "XoaGioHang", new { @iMaSP = item.iMaSach })
                    </td>
                }
            </tr>


        }
    </table>
    <div style="float:right">
        @Html.ActionLink("Quay Về", "GioHang")
    </div>
</div>

@*Css giỏ hàng*@
<style>
    #divToanGioHang {
        background-color: white;
        margin-top: -1%;
    }

    #divGioHang {
        border: 1px solid #EEEEEE;
    }

        #divGioHang td {
            padding: 10px;
            border: 1px solid #EEEEEE;
        }
</style>
