﻿

@if (Session["Inforlogin"] != null)
            {

                ClientWebsite.UserService.KhachHang kh = Session["Inforlogin"] as ClientWebsite.UserService.KhachHang;
                using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
                {
                    @Html.AntiForgeryToken()

                <ul class="nav navbar-nav navbar-right">
                    <li class=""><a href="@Url.Action("GioHang", "Cart")" class="cart-ico"><i class="fa fa-shopping-cart"></i></a></li>
                    <li>@Html.Action("CartPartial", "Cart")</li>
            <li>
                @Html.ActionLink("Hello " + kh.TaiKhoan + "!", "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage" })
            </li>
            <li><a href="javascript:document.getElementById('logoutForm').submit()">Log off</a></li>
        </ul>
    }
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li class=""><a href="@Url.Action("GioHang", "Cart")" class="cart-ico"><i class="fa fa-shopping-cart"></i></a></li>
        <li>@Html.Action("CartPartial", "Cart")</li>
        <li>@Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
        <li>@Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
    </ul>
}
