﻿<h3>Danh Mục</h3>
<ul class ="nav navbar-nav navbar-link">
    <li>
        <h4> @Html.ActionLink("Quản lý người dùng", "Index", "Admin")</h4>
    </li>
    <li>
        <h4> @Html.ActionLink("Quản lý Sản Phẩm", "IndexProduct", "Admin")</h4>
    </li>
    <li>
        <h4> @Html.ActionLink("Quản lý Đơn Hàng", "Index", "Admin")</h4>
     </li>

    <li>
        <h4> @Html.ActionLink("Thống kê đơn hàng", "Index", "Admin")</h4>
    </li>
  
</ul>

