﻿@{ 
    List<SelectListItem> list_search = new List<SelectListItem>();
    list_search.Add(new SelectListItem
    {
        Text = "Tên Sách",
        Value = "0"
    });
    list_search.Add(new SelectListItem
    {
        Text = "Chủ Đề",
        Value = "1"
    });

    list_search.Add(new SelectListItem
    {
        Text = "Nhà Xuất Bản",
        Value = "3"
    });
}
    <div class="col-lg-3">
        <ol class="breadcrumb">
            <li class="active">Search</li>
        </ol>
    </div>
<div class="row navbar-right">
    <div class="col-md-12">
        <div class="row">
            <div class="input-group" id="adv-search">
                @using (Html.BeginForm("SearchResults", "Search", FormMethod.Post))
                {
                    <table>
                        <tr>
                            <td>
                                @Html.DropDownList("droplist", list_search, htmlAttributes: new { @class = "form-control" })
                            </td>
                            <td>
                                @Html.TextBox("txtTimKiem", "", htmlAttributes: new { @class = "form-control", @placeholder = "Nhập vào từ khóa cần tìm ..." })
                            </td>
                            <td>
                                <button type="submit" class="btn btn-primary"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></button>
                            </td>
                        </tr>
                    </table>
                }

            </div>
        </div>

    </div>
</div>