﻿
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    
    <div class="col-md-9">
        <ol class="breadcrumb">
            <li class="active">Book Detail</li>
        </ol>
    </div>
    <div class="col-md-4">
        <br /><br /><br />
        <img src="@Url.Content("~/HinhAnhSP/"+Model.AnhBia)" />
    </div>
    <div class="col-md-5">
        <br /><br /><br />
        <div id="TenSach">@Model.TenSach</div>
        <br />
        <div id="ChuDe">Chủ đề: @ViewBag.TenChuDe</div>
        <br />
        <div id="NhaXuatBan">Nhà xuất bản: @ViewBag.NhaXuatBan</div>
        <br />
        <div id="Mota">Nội dung tóm tắt:<br />- @Model.MoTa <br /></div>
        @*Dịch dấu chấm động đơn giá sử dụng string.Format("{0:0,0}", tham số)*@
        <br />
        <br />
        @*Dịch dấu chấm động đơn giá sử dụng string.Format("{0:0,0}", tham số)*@
        <div id="DonGia" style="color:orange; font-size:22px"><font color="Green">Giá:</font> @String.Format("{0:0,0}", Model.GiaBan) VNĐ</div>
        <br />
        @using (Html.BeginForm("ThemGioHang", "Cart", new { @iMaSach = Model.MaSach, @strURL = Request.Url.ToString() }))
            {
            <input type="submit" style="cursor:pointer;margin-left:10%" value="Cho vào giỏ" class="btn btn-primary btn-danger" />
                <br /><br />
        }
    </div>
</div>



<div style="clear:both"></div>
