﻿
@model List<ClientWebsite.BookService.Sach>
@*divBody trang index*@
<link href="~/Content/Tooltips/stickytooltip.css" rel="stylesheet" />
<script src="~/Content/Tooltips/stickytooltip.js"></script>
    <div style="font-size:16pt; font-style:italic"><i class="fa fa-home fa-fw"></i> Sách Mới</div>
<hr />
    <div class="row">
            @foreach (var item in Model)
            {
                <div class="col-md-4">
                    <a href="@Url.Action("BookDetail", "Books", new { @masach=item.MaSach })">
                            <img src="@Url.Content("~/HinhAnhSP/"+item.AnhBia)" width="150" height="150" data-tooltip="@item.MaSach" />
                    </a>
                    <br />
                  
                    <br />
                        @*Dịch dấu chấm động đơn giá sử dụng string.Format("{0:0,0}", tham số)*@
                        <div id="DonGia" style="color:orange; font-size:22px"><font color="Green">Giá:</font> @String.Format("{0:0,0}", item.GiaBan) VNĐ</div>
                    <br />
                        @using (Html.BeginForm("ThemGioHang", "Cart", new { @iMaSach = item.MaSach, @strURL = Request.Url.ToString() }))
                        { 
                            <input type="submit" style="cursor:pointer;margin-left:10%" value="Cho vào giỏ" class="btn btn-primary btn-danger" />
                            <br /><br />
                        }
                </div>   
            }     
    </div>
<div style="float:right">
     <a href="@Url.Action("AllBooks", "Books")"><span>Xem Thêm >></span></a>
</div>
<br />

<script>
$(function() {
    $( "input[type=submit]" )
      .button()
  });
</script>
