﻿
@using PagedList.Mvc;
@model PagedList.IPagedList<ClientWebsite.BookService.Sach>

<div style="font-size:16pt; font-style:italic"><i class="fa fa-home fa-fw"></i> Danh Mục Sách</div>
<hr />
<div class="row">
    @foreach (var item in Model)
            {
        <div class="col-md-4">
            <a href="@Url.Action("XemChiTiet", "Sach", new { @masach=item.MaSach })">
                <img src="@Url.Content("~/HinhAnhSP/"+item.AnhBia)" width="150" height="150" data-tooltip="@item.MaSach" />
            </a>
            <br />
            @*Dịch dấu chấm động đơn giá sử dụng string.Format("{0:0,0}", tham số)*@
            <div id="DonGia" style="color:orange; font-size:22px"><font color="Green">Giá:</font> @String.Format("{0:0,0}", item.GiaBan) VNĐ</div>
            <br />
            @using (Html.BeginForm("ThemGioHang", "GioHang", new { @iMaSach = item.MaSach, @strURL = Request.Url.ToString() }))
            {
                <input type="submit" style="cursor:pointer;margin-left:10%" value="Cho vào giỏ" class="btn btn-primary btn-danger" />
                <br />
                <br />
            }
        </div>
    }

</div>

