﻿@model ClientWebsite.UserService.KhachHang

@{
    ViewBag.Title = "DeleteUser";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Xóa Người Dùng</h2>

<h3>Bạn có muốn xóa không ?</h3>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
<div>
    <hr />
    <div class=" fa-chain-broken">
        <table>
            <tr>
                <td width="100px">Mã KH: </td>
                <td>
                    @Html.EditorFor(model => model.MaKH, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                     @Html.ValidationMessageFor(model => model.MaKH, "", new { @class = "text-danger" })
                </td>
                <td width="300">
                     <div class="col-md-12" style="text-align:right;color:red">@ViewBag.ThongBao</div>
                </td>
            </tr>
            <tr>
                <td>Tài Khoản: </td>
                <td>@Html.EditorFor(model => model.TaiKhoan, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                @Html.ValidationMessageFor(model => model.TaiKhoan, "", new { @class = "text-danger" })</td>
            </tr>
            <tr>
                <td>Mật Khẩu: </td>
                <td>@Html.EditorFor(model => model.MatKhau, new { htmlAttributes = new { @class = "form-control", @type = "Password", @readonly = "readonly" } })
                @Html.ValidationMessageFor(model => model.MatKhau, "", new { @class = "text-danger" })</td>
            </tr>
            <tr>
                <td>Họ Tên:  </td>
                <td>@Html.EditorFor(model => model.HoTen, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                @Html.ValidationMessageFor(model => model.HoTen, "", new { @class = "text-danger" })</td>
            </tr>
            <tr>
                <td>Ngày Sinh:  </td>
                <td>@Html.EditorFor(model => model.NgaySinh, new { htmlAttributes = new { @class = "date-picker form-control", type = "text", @id = "date-picker-3", @style = "width:300px", @readonly = "readonly" } })
                @Html.ValidationMessageFor(model => model.NgaySinh, "", new { @class = "text-danger" })</td>
            </tr>
            <tr>
                <td>Giới Tính:  </td>
                <td>@Html.EditorFor(model => model.GioiTinh, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                @Html.ValidationMessageFor(model => model.GioiTinh, "", new { @class = "text-danger" })</td>
            </tr>
            <tr>
                <td>Địa Chỉ: </td>
                <td>@Html.EditorFor(model => model.DiaChi, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                @Html.ValidationMessageFor(model => model.DiaChi, "", new { @class = "text-danger" })</td>
            </tr>
            <tr>
                <td>Số ĐT:  </td>
                <td>@Html.EditorFor(model => model.DienThoai, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                @Html.ValidationMessageFor(model => model.DienThoai, "", new { @class = "text-danger" })</td>
            </tr>
            <tr>
                <td>Email:  </td>
                <td>@Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })</td>
            </tr>
            <tr>
                <td>Quyền: </td>
                <td>@Html.EditorFor(model => model.roles, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                @Html.ValidationMessageFor(model => model.roles, "", new { @class = "text-danger" })</td>
            </tr>
        </table>
    </div>
</div>

    <br />
        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Trở Về", "Index")
        </div>
    }
