﻿@model ClientWebsite.UserService.KhachHang

@{
    ViewBag.Title = "DetailsUser";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Thông Tin Khách Hàng</h2>

<div>
    <hr />
    <div class=" fa-chain-broken">
        <table>
            <tr>
                <td width="100px">Mã KH: </td>
                <td>@Html.DisplayFor(model => model.MaKH)</td>
            </tr>
            <tr>
                <td>Tài Khoản: </td>
                <td>@Html.DisplayFor(model => model.TaiKhoan)</td>
            </tr>
            <tr>
                <td>Mật Khẩu: </td>
                <td>@Html.TextBoxFor(model => model.MatKhau, new { type="PassWord", @style="border:0"})</td>
            </tr>
            <tr>
                <td>Họ Tên:  </td>
                <td>@Html.DisplayFor(model => model.HoTen)</td>
            </tr>
            <tr>
                <td>Ngày Sinh:  </td>
                <td>@Html.DisplayFor(model => model.NgaySinh)</td>
            </tr>
            <tr>
                <td>Giới Tính:  </td>
                <td>@Html.DisplayFor(model => model.GioiTinh)</td>
            </tr>
            <tr>
                <td>Địa Chỉ: </td>
                <td>@Html.DisplayFor(model => model.DiaChi)</td>
            </tr>
            <tr>
                <td>Số ĐT:  </td>
                <td>@Html.DisplayFor(model => model.DienThoai)</td>
            </tr>
            <tr>
                <td>Email:  </td>
                <td>@Html.DisplayFor(model => model.Email)</td>
            </tr>
            <tr>
                <td>Quyền: </td>
                <td>@Html.DisplayFor(model => model.roles)</td>
            </tr>
        </table>
    </div>
</div>
<br />
<p>
    @Html.ActionLink("Sửa", "EditUser", new {  id = Model.MaKH }) |
    @Html.ActionLink("Trở Về", "Index")
</p>
