﻿@model IEnumerable<ClientWebsite.UserService.KhachHang>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-md-2">
        @Html.Partial("_MenuAdmin")
    </div>
    <div class="col-md-10">
        <h3 style="text-align:center">Danh Sách Người Dùng</h3>
        @ViewBag.ThongBao
        <table class="table">
            <tr>
                <th>
                   @Html.Label("Mã KH ")
                </th>
                <th>
                    @Html.Label("Tài Khoản")
                </th>
                <th>
                    @Html.Label("Mật Khẩu")
                </th>
                <th>
                    @Html.Label("Họ Tên")
                </th>
                <th>
                    @Html.Label("Giới tính")
                </th>
                <th>
                    @Html.Label("Ngày sinh")
                </th>
                <th>
                    @Html.Label("Điện Thoại")
                </th>
                <th>
                    @Html.Label("Email")
                </th>
                <th>
                    @Html.Label("Địa chỉ")
                </th>
                <th>
                    @Html.Label("Quyền")
                </th>
                <th></th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.MaKH)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.TaiKhoan)
                    </td>
                    <td>
                       @Html.TextBoxFor(modelItem => item.MatKhau, new { type = "PassWord", @readonly = "readonly", @id = "password", @style = "border:0;width:50px" })
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.HoTen)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.GioiTinh)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.NgaySinh)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DienThoai)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Email)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DiaChi)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.roles)
                    </td>
                    <td>
                        @Html.ActionLink("Sửa", "EditUser", new {  id=item.MaKH  }) |
                        @Html.ActionLink("Xem", "DetailsUser", new {  id=item.MaKH  }) |
                        @Html.ActionLink("Xóa", "DeleteUser", new {  id=item.MaKH  })
                    </td>
                </tr>
            }

        </table>
    </div>
</div>


