﻿@using PagedList.Mvc;
@model PagedList.IPagedList<ClientWebsite.BookService.Sach>
@*@model IEnumerable<ClientWebsite.BookService.Sach>*@

@{
    ViewBag.Title = "IndexProduct";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="row">
    <div class="col-md-2">
        @Html.Partial("_MenuAdmin")
    </div>
    <div class="col-md-10">
        <h3 style="text-align:center">Danh Sách Sản Phẩm</h3>
        @ViewBag.ThongBao
        <p>
            @Html.ActionLink("Thêm", "Create")
        </p>

        <table class="table">
            <tr>
                <td>
                    @Html.Label("Mã Sách", new { @class = "control-label col-md-2" })
                </td>
                <td>
                    @Html.Label("Mã NXB", new { @class = "control-label col-md-2" })
                </td>
                <td>
                    @Html.Label("Mã CĐ", new { @class = "control-label col-md-2l" })
                </td>
                <td>
                    @Html.Label("Tên Sách", new { @class = "control-label col-md-2" })
                </td>
                <td>
                    @Html.Label("Ảnh Bìa", new { @class = "control-label col-md-2" })
                </td>
                <td>
                    @Html.Label("Giá Bán", new { @class = "control-label col-md-2" })
                </td>
                <td>
                    @Html.Label("Mô Tả", new { @class = "control-label col-md-2" })
                </td>
                <td>
                    @Html.Label("Số Lượng", new { @class = "control-label col-md-2" })
                </td>
                <td>
                    @Html.Label("Ngày Cập Nhật", new { @class = "control-label col-md-2" })
                </td>
                <td>
                    @Html.Label("Mới", new { @class = "control-label col-md-2" })
                </td>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.MaSach, new { @class = "form-control" })
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.MaNXB, new { @class = "form-control" })
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.MaChuDe, new { @class = "form-control" })
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.TenSach, new { @class = "form-control" })
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.AnhBia, new { @class = "form-control" })
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.GiaBan, new { @class = "form-control" })
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.MoTa, new { @class = "form-control" })
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.SoLuongTon, new { @class = "form-control" })
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.NgayCapNhat, new { @class = "form-control" })
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Moi, new { @class = "form-control" })
                    </td>
                    <td>
                        @Html.ActionLink("Sửa", "EditProduct", new { id = item.MaSach }) |
                        @Html.ActionLink("Xem", "DetailsProduct", new { id = item.MaSach }) |
                        @Html.ActionLink("Xóa", "DeleteProduct", new { id = item.MaSach })
                    </td>
                </tr>
            }

        </table>
        </div>
    </div>

<div style="clear:both"></div>
@* Tạo link liên kết các trang*@
<br /><br />
        Trang @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber)/ @Model.PageCount
        <div class="MenuTrang">
            <span>@Html.PagedListPager(Model, page => Url.Action("IndexProduct", new { page = page }))</span>
            <br /><br /><br /><br /><br /><br />
        </div>