﻿@using ClientWebsite.BookService;
@model List <NhaXuatBan>
@{
    ViewBag.Title = "Publisher";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@Html.Partial("_MenuSearch")

<div style="background-color:white; margin-top:20px" id="divTieuDe">
    <br />
    <h2 style="margin-left:2%;font-weight:normal;color:black">Kết quả tìm kiếm</h2>
    <div>@ViewBag.ThongBao</div>
    <hr />

</div>

<div><h3>@ViewBag.TB</h3></div>
<hr />
<div class="row">
    @{
        foreach (var item in Model)
        {
            <div class="col-md-4">
                <a id="btnChuDe" style="width:250px; font-size: 11pt; text-decoration: none" href="@Url.Action("BooksbyPublisher","Publisher", new {@MaNXB=item.MaNXB })" class="button button-submit"> @item.TenNXB</a><br />
            </div>
        }
    }

</div>