﻿@using PagedList.Mvc;
@using PagedList;
@model IPagedList<ClientWebsite.BookService.Sach>
@{
    ViewBag.Title = "SearchResults";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@Html.Partial("_MenuSearch")
<div style="background-color:white; margin-top:20px" id="divTieuDe">
    <br />
    <h2 style="margin-left:2%;font-weight:normal;color:black">Kết quả tìm kiếm</h2>
    <div>@ViewBag.ThongBao</div>
    <hr />

</div>

@*
    Chú thích:
    -Div divBody chứa Div SanPham
    -Div SanPham chứa Div AnhBia,ThongTin
    -Div ThongTin chứa Div TenSach,DonGia
*@
<div><h3>@ViewBag.TB</h3></div>
<div class="row">
    <div class="col-md-9">
        <div class="row">
            @foreach (var item in Model)
            {
                <div class="col-md-4">
                    <a href="@Url.Action("BookDetail", "Books", new { @masach=item.MaSach })">
                        <img src="@Url.Content("~/HinhAnhSP/"+item.AnhBia)" width="150" height="150" data-tooltip="@item.MaSach" />
                    </a>
                    <br />
                    @*Dịch dấu chấm động đơn giá sử dụng string.Format("{0:0,0}", tham số)*@
                    <div id="DonGia" style="color:orange; font-size:22px"><font color="Green">Giá:</font> @String.Format("{0:0,0}", item.GiaBan) VNĐ</div>
                    <br />
                    @using (Html.BeginForm("ThemGioHang", "Cart", new { @iMaSach = item.MaSach, @strURL = Request.Url.ToString() }))
                {
                        <input type="submit" style="cursor:pointer;margin-left:10%" value="Cho vào giỏ" class="btn btn-primary btn-danger" />
                        <br />
                        <br />
                    }
                </div>
            }

        </div>
        <div style="clear:both"></div>
        @* Tạo link liên kết các trang*@
        <br /><br />
        Trang @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber)/ @Model.PageCount
        <div class="MenuTrang">
            <span>@Html.PagedListPager(Model, page => Url.Action("SearchResults", new { page = page, @sTuKhoa = ViewBag.TuKhoa }))</span>
            <br /><br /><br /><br /><br /><br />
        </div>
    </div>
</div>

